@model ZhunaHotelPriceReturnEntity

@using Travelling.OpenApiEntity.Zhuna
@using Travelling.Web.Helpers
<ul>
    <li class="top">
        <span style="width:100px;">房型</span>
        <span style="width:200px;">床型</span>
        <span style="width:130px;">早餐</span>
        <span style="width:100px;">宽带</span>
        <span class="price">日均价</span>
        <span class="btn">&nbsp;</span>
    </li>
    <li>
        @if (Model.rooms != null && Model.rooms.Count > 0)
        {
            int index = 0;
            bool bookState = true;
            foreach (var r in Model.rooms)
            {
                string roomimg = r.img != null && r.img.Count > 0 ? r.img[0].imgurl : "";
                string amount = "";
                if (r.AvailableAmount == "订完")
                {
                    int days = (Model.tm1.AsDateTime() - Model.tm1.AsDateTime()).Days;
                    if (days <= 0)
                    {

                        days = 1;
                    }
                    amount = (r.plans[0].totalprice / days).ToString();
                    bookState = false;
                }
                else
                {
                    amount = r.plans[0].date[0].price;
                }
                index = index + 1;
                <div class="first @Html.Raw(index>3?"morethan3":"")" style="@Html.Raw(index>3?"display:none;":"")">
                    <span style="width:100px;">@r.title</span>
                    <span style="width:200px;">@r.bed</span>
                    <span style="width:130px;">@r.plans[0].planname</span>
                    <span style="width:100px;">@Html.Raw(r.adsl)</span>
                    <span class="price">
                        <em>
                            ￥<b> @amount</b>
                        </em>
                    </span>
                    <span>
                        @if (bookState)
                        {
                            <a class="btnCommon" href="@HotelUnionHelper.GetHotelInfoUrl(Model.hotelid,1)" target="_blank" rel="nofollow">预定</a>
                        }
                        else
                        {
                            <a style="color:#f60;">订完</a>
                        }
                    </span>
                </div>

            }
        }
        else
        {
            <div class="first">暂无房间</div>
        }
    </li>
    <li id="@string.Format("moreroom_1_{0}",Model.zid)" class="more_attr" style="width:100%;text-align:right;"><a href="#?" class="cancel_pop"><i></i>查看全部房型</a></li>
</ul>