@using Travelling.Domain
@using Travelling.OpenApiEntity.Ctrip.Hotel.Module
@using Travelling.ViewModel.Travel
@using Travelling.Web.Helpers
@using Travelling.FrameWork
@using Travelling.OpenApiEntity.Ctrip.Enums
@using Travelling.ViewModel.Dto.Hotel
@using Travelling.ViewModel.Hotel
@using Travelling.ViewModel.Dto.Ticket
@model HotelDetailInfo
@{

    Layout = "~/Areas/Travel/Views/Shared/_BaseLayoutPage.cshtml";
    List<HotelMediaImgDescription> mediaImgs = Model.ImgDescriptions;
    List<HotelMediaTextDescription> mediaTexts = Model.TextDescriptions;
    List<HotelRoomPrimaryInfo> hotelRoomInfos = new List<HotelRoomPrimaryInfo>();
    int imgCount = mediaImgs.Count >= 10 ? 10 : mediaImgs.Count;
    HotelDescription hotlDesc = Model.HotelDescription;
    List<HotelPrimaryInfo> nearHotels = ViewBag.NearHotels;
    Queue<HotelCookieView> hotelViewed = ViewBag.HotelViewed;
    List<HotelRefPointInfo> refPoints = ViewBag.RefPoints;
    List<SceneryInfoDetail> nearSceneryInfos = ViewBag.NearSceneryInfos;
    var shoppingPoints = (from it in refPoints
                          where it.RefPointCategoryCode == (int)RefPointCodeType.Shopping
                          select it).ToList();
    var sceneryPoints = (from it in refPoints
                         where it.RefPointCategoryCode == (int)RefPointCodeType.Scenery1 || it.RefPointCategoryCode == (int)RefPointCodeType.Scenery2 || it.RefPointCategoryCode == (int)RefPointCodeType.Scenery3 || it.RefPointCategoryCode == (int)RefPointCodeType.Scenery4
                         select it).ToList();
    var subwayPoints = (from it in refPoints
                        where it.RefPointCategoryCode == (int)RefPointCodeType.Subway
                        select it).ToList();
    var entertainmentPoints = (from it in refPoints
                               where it.RefPointCategoryCode == (int)RefPointCodeType.Entertainment
                               select it).ToList();

    List<HotelRoomRateViewModel> roomrates = ViewBag.RatePlans;

    List<MultimediaImgDescription> roomImgs = ViewBag.RoomImgs;

    HotelInfoQuery hotelQuery = ViewData["QueryCondition"] as HotelInfoQuery;
}
@section header
{
    <link type="text/css" href="~/Content/travel/pri_detail.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/travel/jiudian_list.css" rel="stylesheet" />

    <style type="text/css">
        #tooltip {
            position: absolute;
            border: 1px solid #ccc;
            padding: 0;
            display: none;
            color: #fff;
        }
    </style>
    <link type="text/css" rel="stylesheet" href="~/Content/jquery.fancybox.css" />
    <script type="text/javascript" src="~/Scripts/jquery.fancybox.js"></script>

    <script type="text/javascript">
        function modifyBookDate() {
            
            var startDate = $("#txtCheckIn").val();
            var endDate = $("#txtCheckOut").val();
            var hotelid = "@Model.HotelDescription.HotelCode";
            
            $.ajax({
                url: '/jiudian/HotelRoomRateResult',
                data: { hotelid: hotelid, startdate: startDate, enddate: endDate },
                type: 'post',
                dataType: 'html',
                success: function (data) {
                    $("#hotelRoomBox").html(data);
                },
                beforeSend: function () {
                    $("#hotelRoomBox").html("<img src='/imgs/common/ajax-loader.gif' style='border:0;'/>");
                }
            });
        }

        $(document).ready(function () {
            $("#linkViewMap").fancybox({
                'width': '800',
                'height': '500',
                'autoScale': false,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'type': 'iframe'
            });

            $("#topPicList .HotelImage").each(function () {
                var x = 10;
                var y = 20;
                $(this).mouseover(function (e) {
                    var tooltip = "<div id='tooltip'><img src='" + $(this).attr("data") + "' alt='产品预览图'/><\/div>";
                    $("body").append(tooltip);
                    $("#tooltip").css({ "top": (e.pageY + y) + "px", "left": (e.pageX + x) + "px" }).show("fast");

                }).mouseout(function () {
                    $("#tooltip").remove();
                }).mousemove(function (e) {
                    $("#tooltip").css({ "top": (e.pageY + y) + "px", "left": (e.pageX + x) + "px" });
                });
            });

            $("a.room_unfold").each(function () {
                $(this).click(function () {
                    var objContainer = $(this).parent("td.room_type").parent("tr.last_room").next();
                    var isVible = $(objContainer).is(":visible");

                    if (isVible == true) {
                        $(objContainer).addClass("hidden");
                    }
                    else {
                        $(objContainer).removeClass("hidden");
                    }
                });
            });

            $("a.show_fold").each(function () {
                $(this).click(function () {
                    $(this).parent("div").parent("td").parent("tr").addClass("hidden");
                });
            });

            //roomBookStateCheck();
        });

        function roomBookStateCheck() {
            var hotelid = "@Model.HotelDescription.HotelCode";
            var startDate = $("#txtCheckIn").val();
            var endDate = $("#txtCheckOut").val();

            $.ajax({
                url: '/JiuDian/GetHotelRoomRateResult',
                type: 'post',

                data: { hotelid: hotelid, startdate: startDate, enddate: endDate },
                success: function (rep) {
                    //alert(rep);
                },
                error: function () { error }
            });
        }
    </script>
}
<div id="MainContent">
    <div class="hotelinfo_left">
        <div class="path_bar2">
            <a>您的位置:</a>
            <a href="/">卓家客栈</a> >
            <a title="酒店预订" href="/jiudian">酒店预订</a> >
            <a title="@Html.Raw(hotlDesc.CityName+"酒店")" href="@HotelInfoHelper.GetHotelInfoQueryByCityId(hotlDesc.HotelCityCode)">@Html.Raw(hotlDesc.CityName + "酒店")</a> >
            <h1>@hotlDesc.HotelName</h1>
        </div>
        <div class="htl_info_com htl_pic_map layoutfix">
            <div class="htl_info">
                <div class="price_box">
                    <p class="staring_price">
                        <span style="font-weight:bold;color:#f60; font-size:large;">￥@hotlDesc.TrueAmount</span>
                        <span style="color:#f60; font-size:small;">起</span>
                    </p>
                    <p class="mlt_price"></p>

                </div>
                <div class="name">
                    <h2 itemprop="name" class="cn_n">@hotlDesc.HotelName</h2>
                </div>

                <div class="adress">
                    <span>@hotlDesc.CityName</span>
                    <span>@hotlDesc.AddressLine</span>
                    <span><a target="_blank" href="@HotelUnionHelper.HotelSearchWithKey(hotlDesc.HotelCityCode, hotlDesc.ZoneName)" title="@string.Format("{0}{1}附近酒店预定", hotlDesc.HotelCityCode, hotlDesc.ZoneName)">@hotlDesc.ZoneName</a></span>
                    <span><a href="/JiuDian/Map?latitude=@hotlDesc.Latitude&longitude=@hotlDesc.Longitude&hotelname=@hotlDesc.HotelName" class="icon_list_map view_map" id="linkViewMap">交通地图</a></span>
                </div>

            </div>
        </div>

        <div class="htl_pic_map layoutfix">

            
                @if (imgCount > 0)
                {
                    <div class="htl_pic" id="topPicList">
                        @for (int i = 0; i < imgCount; i++)
                        {
                        <div class="@Html.Raw(string.Format("pic{0}",i))">
                            <div class="HotelImage" data="@mediaImgs[i].Url" style="background-image:url('@mediaImgs[i].SmallUrl'); opacity: 1;" data-index="0"></div>
                        </div>
                        }
                        <p class="pop_link">
                            <a href="#" rel="nofollow" class="all_pic" data-index="1" name="needTraceCode">@Html.Raw(string.Format("酒店图片共有{0}张", mediaImgs.Count))</a>
                        </p>
                    </div>
                }
                else
                {
                        <div>暂无图片</div>
                        }
                    </div>
        

        <div class="room_select_box" id="id_room_select_box">
            <div class="date_change_box">
                <table style="width:80%;">
                    <tr>
                        <td>入住</td>
                        <td>
                            <input type="text" value="@hotelQuery.StartDate.ToString("yyyy-MM-dd")" autocomplete="off" class="input_txt width130" name="StartTime" id="txtCheckIn" style="margin-top:2px;">
                        </td>
                        <td>退房</td>
                        <td>
                            <input type="text" id="txtCheckOut" name="txtCheckOut" class="input_txt" autocomplete="off" value="@hotelQuery.EndDate.ToString("yyyy-MM-dd")" style="width: 130px;" />
                        </td>
                        <td>
                            <a class="btn" id="changeBtn" href="javascript:void(0);" onclick="modifyBookDate();">确定</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="hotelRoomBox" class="">
                <div class="htl_room_table">
                    <table border="0" cellspacing="0" cellpadding="0" summary="详情页酒店房型列表">
                        <tbody>
                            <tr>
                                <th style="padding-left:10px;" class="col1">房型</th>
                                <th class="col3"></th>
                                <th class="col3">床型</th>
                                <th class="col4">早餐</th>
                                <th class="col5">宽带</th>
                                <th class="col_policy">政策</th>
                                <th class="col6">房价（含服务费）</th>
                                <th class="col3">付款方式</th>
                                <th class="col7"></th>
                            </tr>
                            @foreach (var r in roomrates)
                            {
                            <tr class="last_room">
                                <td rowspan="1" class="room_type">
                                    <a href="javascript:void(0);" rel="nofollow" class="pic">
                                        <img style="border-width:0;" src="@r.BigImg">
                                    </a>
                                    <a>
                                        @r.RoomTypeName
                                    </a>
                                    <a href="javascript:void(0);" class="room_unfold" rel="nofollow">查看详情</a>
                                </td>
                                <td class="child_name">标准价格</td>
                                <td><span class="room_type_name">@Html.Raw(EnumTypeInfo.GetBedType(r.BedTypeCode))</span></td>
                                <td>@HotelInfoHelper.GetBreakfastTypeName(r.NumberOfBreakfast)</td>
                                <td><span class="net_free">有线免费</span></td>
                                <td><span class="room_policy">免费取消</span></td>
                                <td>
                                    <span class="price_box">
                                        <span class="base_price">
                                            <dfn>¥</dfn>
                                            <var class="p_h57_4">@Html.Raw(r.AmountBeforeTax)</var>
                                        </span>
                                    </span>
                                </td>
                                <td>酒店到付</td>
                                <td class="col7" id="@string.Format("RoomBook_{0}",r.RoomTypeCode)">
                                    <a href="@HotelInfoHelper.CtripHotelBookPage(r.HoteId,r.RoomTypeCode,hotelQuery.StartDate,hotelQuery.EndDate)" rel="nofollow" target="_blank" class="btn_buy">预定</a>
                                </td>
                            </tr>
                            <tr class="hidden roomdetailinfo">
                                <td colspan="8">
                                    <div class="searchresult_caption basefix">
                                        <div class="pic_s">
                                            <img title="@r.RoomTypeName" _src="@r.BigImg" src="@r.BigImg">
                                        </div>

                                        <div>
                                            <ul class="searchresult_caplist">
                                                <li class="" title="@Html.Raw(string.Format("建筑面积：{0}平方米",r.RoomSize))">@Html.Raw(string.Format("建筑面积：{0}平方米", r.RoomSize))</li>
                                                <li class="" title="@Html.Raw(string.Format("楼层：{0}层",r.Floor))">@Html.Raw(string.Format("楼层：{0}层", r.Floor))</li>
                                                <li class="" title="@Html.Raw(string.Format("床型：{0}{1}", EnumTypeInfo.GetBedType(r.BedTypeCode),r.Size))">@Html.Raw(string.Format("床型：{0}{1}", EnumTypeInfo.GetBedType(r.BedTypeCode), r.Size))</li>
                                                <li class="" title="@Html.Raw(string.Format("最多入住人数：{0}人",r.StandardOccupancy))">@Html.Raw(string.Format("最多入住人数：{0}人", r.StandardOccupancy))</li>
                                            </ul>

                                        </div>
                                        <a href="javascript:void(0);" class="show_fold">收起</a>
                                    </div>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="hotel_info_comment">

            <div id="sectionBox" style="display: block;">
                <div style="display: block;" class="xl_info section">

                    <div class="tit">
                        <strong>
                            <a target="_blank" href="#">酒店介绍</a>
                        </strong>

                    </div>
                    <div class="TabCont">
                        @Html.Raw(HttpUtility.HtmlDecode(HotelInfoHelper.GetHotelDescription(hotlDesc.TextItems)))
                    </div>
                    <br />
                </div>
                <div class="xl_info section">

                    <div class="tit">
                        <strong>
                            <a target="_blank" href="#">酒店设施</a>
                        </strong>

                    </div>
                    <div class="TabCont ">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width:80px;">酒店服务</th>
                                    <td>
                                        <ul class="detail_extracontent">
                                            @foreach (var f in Model.HotelServices)
                                            {
                                                <li>@f.DescriptiveText</li>
                                            }

                                        </ul>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="xl_info section">
                    <div class="tit">
                        <strong>
                            <a target="_blank" href="#">附近景点</a>
                        </strong>

                    </div>
                    <div class="TabCont">
                        <div class="TabContBd">
                            <ul class="CullHotelList HotelHotelList" id="block_city1">

                                @foreach (var h in nearSceneryInfos)
                                {
                                    <li title="@h.SceneryName">
                                        <div class="CullHotelImg">
                                            <a href="@SceneryTicketHelper.GetSceneryInfoLink(h.SceneryID)" title="@string.Format("{0}{1}门票预定",h.CityName,h.SceneryName)" target="_blank">
                                                <img alt="@string.Format("{0}图片",h.SceneryName)" width="150" height="98" alt="@h.SceneryName" src="@Html.Raw(h.ImgBaseUrl+h.Imgs)" />
                                            </a>
                                        </div>
                                        <div class="CullHotelCont">
                                            <h3>
                                                <a title="@string.Format("{0}{1}门票预定",h.CityName,h.SceneryName)" target="_blank" href="@SceneryTicketHelper.GetSceneryInfoLink(h.SceneryID)">@h.SceneryName 仅售元 @h.AmountAdvice！</a>
                                            </h3>
                                            <p class="CullHotelCls">
                                                <span class="CullHotelPrice">
                                                    <a href="#" style="color:#f60;">
                                                        <span class="f14">¥</span>
                                                        <span class="Verdana">@h.AmountAdvice</span>
                                                    </a>
                                                </span>位置：@h.Address
                                            </p>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="xl_info section">
                    <div class="tit">
                        <strong>
                            <a target="_blank" href="#">附近酒店</a>
                        </strong>

                    </div>
                    <div class="TabCont">
                        <div class="TabContBd">
                            <ul class="CullHotelList HotelHotelList" id="block_city1">
                                @foreach (var h in nearHotels)
                                {
                                    <li title="@h.HotelName">
                                        <div class="CullHotelImg">
                                            <a target="_blank" title="@string.Format("{0}{1}酒店预定",h.CityName,h.HotelName)" href="@HotelInfoHelper.GetHotelInfoLink(h.HotelID)">
                                                <img width="150" height="98" alt="@h.HotelName" src="@h.HotelImg">
                                            </a>
                                        </div>
                                        <div class="CullHotelCont">
                                            <h3 class="GpHd">
                                                <a target="_blank" title="@string.Format("{0}预定",h.HotelName)" href="@HotelUnionHelper.GetHotelInfoUrl(h.HotelID,0)">@h.HotelName 仅售元 @h.AmountBeforeTax！挂牌价 @h.ListAmount 元！</a>
                                            </h3>
                                            <p class="CullHotelCls">
                                                <span class="CullHotelPrice">
                                                    <a href="#" style="color:#f60;">
                                                        <span class="f14">¥</span>
                                                        <span class="Verdana">@h.AmountBeforeTax</span>
                                                    </a>
                                                </span>位置：@h.AddressLine
                                            </p>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hotelinfo_right">
        <div class="htl_com" style="width:300px;height:200px;margin-bottom:5px;margin-top:10px;">
            <div data-index="0" class="comment_text">
                <div class="text">携程评分:<span style="color:#06c;font-weight:bold;font-size:15px;">@hotlDesc.CtripCommRate.ToString("f1")</span>/5分</div>
                <div class="text">用户评分:<span style="color:#06c;font-weight:bold;font-size:15px;">@hotlDesc.CtripUserRate.ToString("f1")</span>/5分</div>
                <div class="text">服务评分:<span style="color:#06c;font-weight:bold;font-size:15px;">@hotlDesc.CommServiceRate.ToString("f1")</span>/5分</div>
                <div class="text">携程星级:<span style="color:#06c;font-weight:bold;font-size:15px;">@hotlDesc.CtripStarRate.ToString("f1")</span>/5分</div>
                <div class="text">周边环境评分:<span style="color:#06c;font-weight:bold;font-size:15px;">@hotlDesc.CommSurroundingRate.ToString("f1")</span>/5分</div>
                <div class="text">酒店星级:<span style="color:#06c;font-weight:bold;font-size:15px;">@hotlDesc.HotelStarRate.ToString("f1")</span>/5分</div>
                <div class="text">酒店设备评分:<span style="color:#06c;font-weight:bold;font-size:15px;">@hotlDesc.CommFacilityRate.ToString("f1")</span>/5分</div>
            </div>
        </div>
        <div class="sider_pic">
            <div id="groupProduct"></div>
            <div id="favlist"></div>
            @Html.Action("HotelViewed", "JiuDian", null)
        </div>

    </div>
    <div class="hotelinfo_clearall"></div>

</div>
<script type="text/javascript" src="~/Scripts/fixdiv.js"></script>
<script type="text/javascript" src="~/Scripts/address.js"></script>
<script type="text/javascript" src="~/Scripts/calendar/calendar.js"></script>
<script type="text/javascript">
    var oDepDate = new Date();
    var oBackDate = new Date(oDepDate.getFullYear(), oDepDate.getMonth(), oDepDate.getDate() + 2);
    //出发时间实例

    var oDepCal3 = new Calendar({
        id: "#txtCheckIn",			//触发显示日历元素ID
        isPopup: !0,					//弹出式日历
        isPrevBtn: !0,					//显示上月按钮
        isNextBtn: !0,					//显示下月按钮
        isCloseBtn: !0,					//显示关闭按钮
        isHoliday: !0,					//节假日特殊显示
        isHolidayTips: !0,					//显示节假日1~3天/后1~3天信息
        isDateInfo: !0,					//显示日期信息
        isMessage: !0,					//有日历提示信息
        isCalEnd: !0,					//标记为结束时间
        dateInfoClass: "date-info-end",		//结束时间icon样式
        range: { mindate: new Date(), maxdate: "2020-12-31" },	//限制范围（当天——2020-12-31）
        count: 2,					//日历个数
        monthStep: 1					//切换上下月日历步长
    });

    var oDepCal4 = new Calendar({
        id: "#txtCheckOut",			//触发显示日历元素ID
        isPopup: !0,					//弹出式日历
        isPrevBtn: !0,					//显示上月按钮
        isNextBtn: !0,					//显示下月按钮
        isCloseBtn: !0,					//显示关闭按钮
        isHoliday: !0,					//节假日特殊显示
        isHolidayTips: !0,					//显示节假日1~3天/后1~3天信息
        isDateInfo: !0,					//显示日期信息
        isMessage: !0,					//有日历提示信息
        isCalEnd: !0,					//标记为结束时间
        dateInfoClass: "date-info-end",		//结束时间icon样式
        range: { mindate: new Date(), maxdate: "2020-12-31" },	//限制范围（当天——2020-12-31）
        count: 2,					//日历个数
        monthStep: 1					//切换上下月日历步长
    });
</script>