@using Travelling.Web.Helpers
<div class="TabCont">
    <div class="HdBd">
        <h2 class="Hd">热门目的地</h2>
    </div>
    <div class="TabContBd">
        <ul class="hottravelcity">
            <li>
                <img width="268" height="144" src="~/static/hottravelcity/beijing.jpg" alt="北京图片" />
                
                <a href="@string.Format("/ticketsearchlist_{0}.html",53)" target="_blank" title="北京旅游">去北京看看</a>
            </li>
            <li>
                <img width="268" height="144" src="~/static/hottravelcity/lijiang.jpg" alt="丽江图片" />
                
                <a href="@string.Format("/ticketsearchlist_{0}.html",374)" target="_blank" title="丽江旅游">去丽江看看</a>
            </li>
            <li>
                <img width="268" height="144" src="~/static/hottravelcity/huangshan.jpg" alt="黄山图片" />
                
                <a href="@string.Format("/ticketsearchlist_{0}.html",45)" target="_blank" title="黄山旅游">去黄山看看</a>
            </li>
            <li>
                <img width="268" height="144" src="~/static/hottravelcity/xiamen.jpg" alt="厦门图片"/>
               
                <a href="@string.Format("/ticketsearchlist_{0}.html",61)" target="_blank" title="厦门旅游">去厦门看看</a>
            </li>
            <li>
                <img width="268" height="144" src="~/static/hottravelcity/sanya.jpg" alt="三亚图片" />
                
                <a href="@string.Format("/ticketsearchlist_{0}.html",133)" target="_blank" title="三亚旅游">去三亚看看</a>
            </li>
            <li>
                <img width="268" height="144" src="~/static/hottravelcity/haerbin.jpg" alt="哈尔滨图片"/>
                
                <a href="@string.Format("/ticketsearchlist_{0}.html",170)" title="哈尔滨旅游" target="_blank">去哈尔滨看看</a>
            </li>
        </ul>
    </div>
</div>