<div class="KxContent KxContentPdt">
    <div class="KxContentLeft">
        @Html.Action("HotelQuickFind","Home",null)
        @Html.Action("HotHotels","Home",null)
        @Html.Action("RecommendHotels", "Home", null)
        @Html.Action("HotProvinceSceneries", "Home", null)
        @Html.Action("NearSceneies", "Home", null)
        @Html.Action("TradeArea", "Home", null)
    </div>
    <div class="KxContentRight">
        @Html.Action("HotSceneryCities", "Home", null)
        @Html.Action("GuZhen", "Home", null)
        @Html.Action("AdView", "Home", null)
        @Html.Action("NewsInfo", "Home", null)
        @Html.Action("SchoolHotels", "Home", null)
        @Html.Action("SceneryThemes", "Home", null)
        @Html.Action("VisitedHistory", "Home", null)

    </div>
</div>
